* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: cursive;
    scroll-behavior: smooth;
}
#container {
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("./../images/idea-concept-gather-idea-after-brainstorming-creative-innovative-process-with-light-bulb_513217-117.jpg");
    background-size: 400px 400px;
    background-position: center right;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,.8);
}
#btn {
    padding: 6px 13px;
    background: linear-gradient(to right, #c7b5b5, #5fcac7, #d49e9e);
    border: none;
    outline: none;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 1px 0px #5c5c5c;
    cursor: pointer;
    font-style: normal;
    font-family: cursive !important;
}
#btn:hover {
    background: linear-gradient(to right, #d49e9e,#5fcac7,#c7b5b5);
}